.content-section {
  position: relative;
  z-index: 2;
  margin-top: -75px;
  padding-top: 75px;

  .content-main {
    min-height: 150vh;
    background: white;
  }
}

.template-single .content-section,
.template-archive .content-section {
  @media (min-width: 1280px) {
    padding-right: 25vw;
  }
}
