.content-header {
  position: relative;
  z-index: 3;
}

@media (max-width: 6400px) {
  .template-home .content-header-image {
    height: 360px;
  }
}

@media (min-width: 1280px) {
  .template-home .content-header-image {
    height: calc(100vh - 1px);
    padding-bottom: 0;
  }
}

.content-header-image {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  border-bottom: 1px solid white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #999;
}

.content-header .video-play-btn {
  position: absolute;
  z-index: 3;
  height: 150px;
  width: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
