.site-header {
  position: relative;
  height: 0px;
  z-index: 100;

  .site-header-fixed {
    background: $dark-blue;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 75px;
    border-bottom: 1px solid rgba(black, 0.5);
  }

  .site-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 75px;
    padding: 20px;
    background: $grey-blue;
    border-bottom: 1px solid rgba(black, 0.5);
  }

  .header-hamburger {
    position: absolute;
    right: 0;
    top: 0;
    height: 75px;
    width: 80px;
    padding: 25px;
    border-left: 1px solid #d0d0d0;
    fill: white;
  }
}
