@media (max-width: 920px) {
  .site-nav {
    transition: left 120ms;
    position: fixed;
    width: 240px;
    left: -240px;
    height: 65px;
    top: 75px;
    overflow: scroll;
    background: #333;
    transition: right 150ms;
    transition-timing-function: cubic-bezier(0, 0.5, 0.5, 0);
  }
}

@media (min-width: 920px) {
  .site-nav {
    transform: translateZ(0);
    position: absolute;
    overflow: hidden;
    top: 75px;
    padding-bottom: 75px;
    left: -240px;
    width: 240px;
    height: 100vh;
    background: #333;
    transition: left 250ms;
  }

  .template-single .site-nav,
  .template-archive .site-nav {
    left: 0px;
  }

  .site-nav.layout-in {
    position: fixed;
    top: 75px;
  }

  .site-nav.layout-under {
    padding-bottom: 0px;
    top: auto;
    height: calc(100vh - 75px);
    bottom: 0;
  }

  .site-nav-scroll {
    position: relative;
    overflow: auto;
  }

  .site-nav-scroll div {
    height: 80px;
    margin: 10px;
    background: #333;
  }
}

.site-nav:before {
  content: "";
  position: absolute;
  z-index: 10;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0;
  transition: opacity 0.2s;
}

.site-nav.loading:before {
  opacity: 0.2;
}
