.site-description {
  padding: 60px 20px;
  font-family: "DIN", sans-serif;
  font-size: 200%;
  text-align: center;
  background: #333;
  color: white;
  text-transform: uppercase;
  border-bottom: 1px solid white;
}
