@keyframes fromTop {
  from {
    top: -500px;
  }
  to {
    top: 85px;
  }
}

.video-wrapper {
  position: relative;
  overflow: hidden;

  .video-wrapper-overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  iframe {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.video-wrapper.position-hidden {
  position: fixed;
  height: 0px;
  width: 0px;
  z-index: -1;
}

.video-wrapper.position-relative {
  position: absolute;
  top: 0;
  left: 0;
  height: 0px;
  width: 100%;
  padding-bottom: 56.25%;
  z-index: 2;
}

.video-wrapper.position-fixed {
  position: fixed;
  overflow: visible;
  right: 10px;
  top: 85px;
  height: 68px;
  width: 120px;
  padding-bottom: 0;
  z-index: 5;
  animation: fromTop 1 forwards 250ms;
  box-shadow: 3px 3px 5px rgba(black, 0.3);

  @media (min-width: 640px) {
    height: 135px;
    width: 240px;
  }

  @media (min-width: 1280px) {
    right: 10px;
    height: calc((25vw - 20px) / 16 * 9);
    width: calc(25vw - 20px);
    animation: fromTop 1 forwards 250ms;
    box-shadow: none;
  }

  &:hover .video-close {
    opacity: 1;
  }
  .video-close {
    display: block;
    color: white;
    position: absolute;
    font-size: 24px;
    z-index: 20;
    cursor: pointer;
    height: 24px;
    line-height: 24px;
    width: 24px;
    text-align: center;
    opacity: 0;
    transition: opacity 250ms;
  }
}
